{% extends "base.html" %}
{% block title %}
    {{ page.title }} | {{ config.title }}
{% endblock title %}
{% block head %}
    {% include "partials/katex.html" %}
{% endblock head %}
{% block content %}
    {% set post = page %}
    <article class="post">
        <h1 class="post-title">{{ page.title }}</h1>
        {% include "partials/post-meta.html" %}
        <div class="prose">{{ page.content | safe }}</div>
    </article>
    <p class="post-browse">
        <a href="{{ get_url(path='@/_index.md') | safe }}">All posts</a>
    </p>
    <script src="https://seopyo.anserena.com/comments.js" defer></script>
    <h2>Comments</h2>
    <div data-comments data-owner-name="Serena" data-slug="{{ page.slug }}"></div>
{% endblock content %}
